.todos-wrapper {
  height: 100%;
  overflow-y: auto;
}

.todo-item {
  display: flex;
  align-items: center;

  background-color: rgba(black, 0.55);

  padding: 8px 12px;
  border-radius: 25px;

  margin-bottom: 15px;

  cursor: pointer;
}

.todo-text {
  color: rgba(white, 0.85);
}
.check-box {
  display: flex;
  padding: 4px;
  border: 2px solid rgba(white, 0.45);

  border-radius: 50%;
  margin-right: 15px;

  i {
    font-size: 18px;
    opacity: 0;
  }
}

.todo-item:hover {
  .todo-text {
    color:rgba(white, 0.9) ;
  }
  .check-box {
    border-color: transparent;
    background-color: rgba(white, 0.45);
  }
}
.todo-item.completed {
  .todo-text {
    color: rgba(white, 0.75);
  }
  .check-box {
    background: rgb(14, 151, 14);
    border-color: transparent;

    i {
      opacity: 1;
    }
  }
}

.todo-text,
.check-box {
  transition: 0.15s;
}
