.tabs {
  display: flex;
  gap: 14px;

  background-color: rgba(black, 0.25);
  backdrop-filter: blur(3px);

  border-radius: 12px;

  padding: 10px;
  margin: 12px;
  margin-top: 50px;
}

.tab {
  position: relative;

  text-decoration: none;

  z-index: 1;
}

.tab-tile {
  display: flex;

  padding: 18px;

  

  cursor:pointer;
  i {
    color: #222;
  }
  transition: all 0.2s ;
}

.tab.selected .tab-tile{
transform: translateY(-50%);

transition-duration: 0.4s;
transition-timing-function: cubic-bezier(0, 0, 0, 2) ;
}


// styles for the tab tile background ->(SHAPE)

.tab-tile::before {
  content:"";

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  height: 100%;
  width: 100%;

  border-radius: 10px;

  opacity: 0.9;

  transition: all 0.2s ease-out ;
}

.bookmarks-tab .tab-tile::before {
    background: linear-gradient(45deg, #369ab3, #f3f56d);

}
.todos-tab .tab-tile::before {
    background: linear-gradient(45deg, #429fca, #d6ceda);

}
.notes-tab .tab-tile::before {
    background: linear-gradient(45deg, #5080c7, #03ee80);

}
.tab-tile:hover::before {
  opacity: 1;
  transform: scale(1.1);
}

.tab.selected .tab-tile::before {
  opacity: 1;
  transform: scale(1.1);
  border-radius: 50%;

  box-shadow: 0px 7px 17px rgba(black, 0.2);
  transition-delay: 0.2s;
}

// End of tab tile background (SHAPE) Style




// Styles for the underline effect

.tab::after {
  content:"";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  

  height: 5px;
  width: 50%;

  margin: auto;
  background-color: rgba(whitesmoke, 0.85);

  

  transition: all 0.2s;

  //hide by default
  opacity: 0;
  transform: scaleX(0);
}

.tab.selected::after{
  opacity: 1;
  transform: scaleX(1);
  transition-delay: 0.25s;
}

.tab.selected {outline: none;}